page-home {

    .companyInfo{
        font-size: 15px;
        text-align: right;
        padding: auto;
        margin: auto;
        background-color: color($colors,primary);
        color: color($colors,light);
    }

    .newJob{
        background-color: #e4c9c9;
    }
}
