<ion-header>

  <custom-navbar></custom-navbar>

</ion-header>

<ion-content padding>
  <ion-grid style="width:90%">
    <ion-row></ion-row>

    <ion-row>
      <ion-col col-3>
          <ion-row col-12>
              <ion-col>
                  <button ion-button col-12>New Job</button>
              </ion-col>
          </ion-row>
    
          <ion-row col-12>
            <ion-col>
                <ion-card col-12>
                    <ion-list>
                      <ion-list-header>
                              My Jobs - Planned
                      </ion-list-header>
    
                      <button ion-item *ngFor="let j of jobs" (click)="itemSelected(j)">
                                {{ j.jobNum }} - {{j.jobDesc}}
                      </button>
          
                    </ion-list>
                </ion-card>
            </ion-col>
          </ion-row>
      </ion-col>

      <ion-col col-9>
          <ion-card>
              <ion-card-header class="card-title">
                Important Dates
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-11></ion-col>
                    <ion-col col-1><button ion-button (click)="addEvent()">Add</button></ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <calendar 
                        [eventSource]="eventSource"
                        [calendarMode]="calendar.mode"
                        [currentDate]="calendar.currentDate"
                        (onEventSelected)="onEventSelected($event)"
                        (onTitleChanged)="onViewTitleChanged($event)"
                        (onTimeSelected)="onTimeSelected($event)"
                        step="30"
                        class="calendar">
                      </calendar>
                    </ion-col>

                  </ion-row>
                </ion-grid>
                
              </ion-card-content>

              <ion-card-header class="card-title">
                  Today's Jobs
              </ion-card-header>
              <ion-card-content>
                  <div id="table">
                      <header>
                        <span>
                        Client List
                        </span>
                      </header>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Job</th>
                            <th>Client</th>
                            <th>State</th>
                          </tr>
                        </thead>
                    
                        <tbody>
                          <tr *ngFor="let j of jobs">
                            <td><a href=# (click)="itemSelected(client)">  {{ j.jobNum }} - {{j.jobDesc}} </a></td>
                            <td> {{j.client}} </td>
                            <td> {{j.state}} </td>
                          </tr>
                        </tbody>
                        
                      </table>
                  </div>
              </ion-card-content>
          </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
