page-home {

    ion-card.card-md {
        margin-left: 0px;
    }

    ion-list{
        border-top: 1px solid color($colors,gray1);

    }

    ion-list-header.list-header{
        border-bottom: 1px solid color($colors,gray1);
        background-color:#c7c7c7;
        color:#ffffff;
    }

    .item-block{
        border-bottom: 1px solid color($colors,gray1);
    }

    .card-title{
        background-color:color($colors, primary);
        color:#ffffff;
        font-weight:bold;
    }

    // Table Design
    body {
        padding: 50px;
        background: #ebedf3;
      }
      
      #table {
        border: 1px solid #dbdce2;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 1px 2px #d1d1d1;
        border-radius: 3px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      #table header {
        background: #f2f3f6;
        font-size: 12px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dbdce2;
        color: #555;
        font-weight: bold;
        position: relative;
        overflow: hidden;
      }
      #table header:after {
        content: " ";
        clear: both;
      }
      #table header span {
        padding: 10px;
        display: block;
        float: left;
      }
      #table header ul {
        display: block;
        padding: 0;
        margin: 0;
        float: right;
        border-left: 1px solid #fff;
      }
      #table header ul li {
        float: left;
        border-left: 1px solid #dbdce2;
        border-right: 1px solid #fff;
      }
      #table header ul li:last-child {
        border-right: 0;
      }
      #table header ul li a {
        display: block;
        padding: 10px;
        color: #535767;
      }
      #table header ul li a:hover {
        color: #222;
      }
      
      .table {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
      }
      .table tbody tr td{
        border-bottom: 1px solid #ebecef;
        font-size: 14px;
        color: #64687b;
        font-family: "Tahoma", Arial;
        padding: 10px 10px 10px 10px;
        text-align: center;
      }
      .table tbody tr{
        background: #fff;
      }
      .table thead tr:first-child th {
        border-top: 1px solid red;
      }
      .table thead tr th {
        background: #f2f3f6;
        padding: 10px 10px 10px 10px;
        font-family: Arial;
        font-size: 10px;
        text-transform: uppercase;
        color: #767d94;
        font-weight: bold;
      }
      
      .table > thead:first-child > tr:first-child > th {
        border-top: 1px solid #fff;
      }
      
      .table > thead > tr > th {
        border-bottom: 1px solid #dbdce2;
      }

      .table tbody tr:hover{
        background-color: #eee;
      }

      .table tbody tr a{
        text-decoration: none;
      }

      .table tbody tr a:hover{
        text-decoration: underline;
      }
}
