<!--
  Generated template for the JobManagerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>jobManager</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="job-summary-table">
    <table>
      <tr>
        <td>
          <h4>Total</h4>
          <span>{{ jobSummary.total }}</span>
        </td>
        <td>
          <h4>Starting Today</h4>
          <span>{{ jobSummary.startingToday }}</span>
        </td>
        <td>
          <h4>Due This Week</h4>
          <span>{{ jobSummary.dueThisWeek }}</span>
        </td>
        <td>
          <h4>Due Next Week</h4>
          <span>{{ jobSummary.dueNextWeek }}</span>
        </td>
        <td>
          <h4>Overdue</h4>
          <span>{{ jobSummary.overdue }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="planned-job-list">
    <table>
      <thead>
        <tr>
          <td>My Jobs - Planned</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of plannedJobList">
          <td>
            <a (click)="navigateToJobDetailsPage(job.jobNumber)">{{ job.jobNumber }}</a> - {{ job.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="in-progress-job-list">
    <table>
      <thead>
        <tr>
          <td>My Jobs - Planned</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of inProgressJobList">
          <td>
            <a (click)="navigateToJobDetailsPage(job.jobNumber)">{{ job.jobNumber }}</a> - {{ job.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="job-list-filter">
    <ul>
      <li><button (click)="filterPressed('all')">All</button></li>
      <li><button (click)="filterPressed('my')">My</button></li>
      <li><button (click)="filterPressed('managedBy')">Managed By</button></li>
      <li>
        <button (click)="filterPressed('importantDates')">
          Important Dates
        </button>
      </li>
      <li>
        <button (click)="filterPressed('staffAllocation')">
          Staff Allocation
        </button>
      </li>
      <li><button (click)="filterPressed('search')">Search</button></li>
      <li><button (click)="filterPressed('archieve')">Archieve</button></li>
      <li><button (click)="filterPressed('recurring')">Recurring</button></li>
      <!--
        <li>Managed By</li>
        <li>Important Dates</li>
        <li>Staff Allocation</li>
        <li>Search</li>
        <li>Archieve</li>
        <li>Recurring</li>
      -->
    </ul>
  </div>

  <div class="job-list-table">
    <table style="width: 100%;">
      <thead>
        <tr>
          <td>!</td>
          <td>Job No.</td>
          <td>Client</td>
          <td>Name</td>
          <td>State</td>
          <td>Start</td>
          <td>Due</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobList">
          <td>
            <span *ngIf="job.important"><b>!</b></span>
          </td>
          <td>
            <a (click)="navigateToJobDetailsPage(job.jobNumber)">{{ job.jobNumber }}</a>
          </td>
          <td>{{ job.client }}</td>
          <td>{{ job.name }}</td>
          <td>
            <ion-item>
              <!-- <ion-label>Job State</ion-label> -->
              <ion-select [(ngModel)]="job.state">
                <ion-option value="planned">Planned</ion-option>
                <ion-option value="inProgress">In Progress</ion-option>
                <ion-option value="resolved">Resolved</ion-option>
              </ion-select>
            </ion-item>
          </td>
          <td>{{ job.startDate.toLocaleDateString() }}</td>
          <td>{{ job.dueDate.toLocaleDateString() }}</td>
        </tr>
      </tbody>
    </table>
    <h3>{{ jobFilter }}</h3>
  </div>
</ion-content>
