<!--
  Generated template for the J01JobNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-navbar></custom-navbar>
</ion-header>


<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col col-3>
      <ion-grid>
        <ion-row>
          <ion-card>
            <ion-list>
              <ion-list-header>
                My Jobs - Planned
              </ion-list-header>

              <button ion-item *ngFor="let job of plannedJobList" (click)="navigateToJobDetailsPage(job.jobNumber)">
                <a href="#">{{ job.jobNumber }}</a> - {{ job.name }}
              </button>

            </ion-list>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-list>
              <ion-list-header>
                My Jobs - Planned
              </ion-list-header>

              <button ion-item *ngFor="let job of inProgressJobList" (click)="navigateToJobDetailsPage(job.jobNumber)">
                <a href="#">{{ job.jobNumber }}</a> - {{ job.name }}
              </button>

            </ion-list>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col>
      <ion-grid>
        <ion-row>
          <h1>Job Information</h1>
        </ion-row>
        <ion-row>
          <table class="table">
            <tr>
              <td>Client:</td>
              <td>
                <select>
                  <option value="client">Select Client</option>
                </select>
              </td>
              <td>Contact:</td>
              <td>
                <select>
                  <option value="contact">Select Contact</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Template:</td>
              <td>
                <select>
                  <option value="Default"></option>
                </select>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Name:</td>
              <td>
                <input type="text">
              </td>
              <td>Client Order No:</td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>Budget:</td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>State:</td>
              <td>
                <select>
                  <option value="state">Planned</option>
                  <option value="state">In Progress</option>
                  <option value="state">On Hold</option>
                  <option value="state">Cancelled</option>
                </select>
              </td>
              <td>Category:</td>
              <td>
                <select>
                  <option value="contact">Select Category</option>
                </select>
              </td>
            </tr>
          </table>
        </ion-row>

        <br>
        <br>

        <ion-row>
          <h1>Schedule Information</h1>
        </ion-row>
        <ion-row>
          <table class="table">
            <tr>
              <td>Start Date:</td>
              <td>
                <input type="date">
              </td>
              <td>Due Date:</td>
              <td>
                <input type="date">
              </td>
            </tr>
            <tr>
              <td>Priority:</td>
              <td>
                <select>
                  <option value="priority">Immediate</option>
                  <option value="priority">High</option>
                  <option value="priority">Low</option>
                  <option value="priority">Normal</option>
                </select>
              </td>

            </tr>
            <tr>
              <td>Account Manager:</td>
              <td>
                <select>
                  <option value="account manager">Select Account Manager</option>
                </select>
              </td>
              <td>Manager:</td>
              <td>
                <select>
                  <option value="manager">Select Manager</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Staff:</td>
              <td>
                <input type="checkbox" value="jovi">Jovi
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button">Save</button>
                <button type="button">Cancel</button>
              </td>
            </tr>
          </table>
        </ion-row>

      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>